{% extends '::base.html.twig' %}

{% block title %} fourth {% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.days) }}

    <button type="submit">Next!</button>
    {{ form_end(form) }}

{% endblock %}